{% extends "main.html" %}
{% block content %}
<h5>Birthday {{event.year}}</h5>
<div id="addDesc">
	<form id="update-desc" class="form" method="POST">
		<label>Description</label>
		<input class="form-control" type="text" name="desc" value="{{event.description}}">
		<button id="update-desc-btn" type="button">Save</button>
		<div id="descStatus"></div>
	</form>
</div>
<div id="fileupload">
	<form id="upload-file" method="post" enctype="multipart/form-data">
	    <fieldset>
	        <label for="file">Select a file</label>
	        <input id="filepath" name="file" type="file">
	    </fieldset>
	    <fieldset>
	        <button id="upload-file-btn" type="button">Upload</button>
	    </fieldset>
	    <div id="fileuploadStatus"></div>
	</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
	$('#upload-file-btn').click(function() {

        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/uploadajax/{{logged_user.id}}/{{event.id}}',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
                console.log('Success!');
                $('#upload-file')[0].reset();
                $('#fileuploadStatus').html(data);
            },
        });
    });
    $('#update-desc-btn').click(function() {

        var form_data = new FormData($('#update-desc')[0]);
        $.ajax({
            type: 'POST',
            url: '/birthday/update_desc/{{event.id}}',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
                console.log('Success!');
                $('#descStatus').html(data);
            },
        });
    });
});
	  $("#form").submit( function(eventObj) {

	  });
</script>
{% endblock %}