{% extends "main.html" %}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-8">
				<h3> Update Profile</h3>
					<form class="form" method="POST" action="/profile/update">
						<label for="name">Name</label>
						<input class="form-control" type="text" name="name" value="{{ logged_user.name }}">
						<label for="email">Email</label>
						<input class="form-control" type="email" name="email" value="{{logged_user.email}}">
						<label>Birthdate</label>
						<input class="form-control" type="date" name="dob" value="{{ logged_user.dob }}">
						<label>Picture</label>
						<input class="form-control" type="text" name="picture" value="{{logged_user.picture}}">
						<input class="btn btn-primary" type="submit" name="submit" value="Save">
					</form>
			</div>
		</div>
	</div>
{% endblock %}