<!DOCTYPE html>
<html>
<head>
	<title>Create Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<h3> Update Profile</h3>
		<form class="form" method="POST" action="/profile/update">
			<label>Name</label>
			<input type="text" name="name" value="{{ user.name }}">
			<label>Email</label>
			<input type="email" name="email" value="{{user.email}}">
			<label>Birthdate</label>
			<input type="date" name="dob" value="{{ user.dob }}">
			<label>Picture</label>
			<input type="text" name="picture" value="{{user.picture}}">
			<input class="btn btn-primary" type="submit" name="submit" value="Save">
		</form>
	</div>


</body>
</html>