{% extends "main.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-4 bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
            	<li class="nav-item">
            		<img src="{{friend.picture}}" width="" alt="Profile picture" class="img-thumbnail">
            		<div class="nav-link">
						<h5>{{ friend.name }}</h5>
						<small>{{friend.email}}</small>
						<p></p>
					</div>
					<form action="/unfriend/{{friend.id}}" method="POST">
						<input type="submit" name="" value="Unfriend">
					</form>
            	</li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Media</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            	<!-- images	 -->
            </ul>

          </div>
    </div>

    <div class="col-md-5 middle-part">
      <div class="row">
        <div class="col-12 p-0 m-1">
          <div class="top m-0">
            background
          </div>
          <div class="body">
            <h2>{{friend.dob}}</h2>
          </div>
        </div>
      </div>
      <div class="row birthday_card ">
        {% for bday in birthdays %}
        <div class="col-12 p-0 m-1 bbash-card">
          <div class="top p-1">
            <div class="title"> <a href="">Birthday {{bday.year}}</a></div>
          </div>
          <div class="body px-2">
            <div class="row">
              <div class="col-12">
                <p>{{bday.description}}</p>
              </div>
            </div>
            <div class="row">
              {% for photo in bday.photos %}
              <div class="col-3">
                <img class="img-thumbnail m-0 p-0" src="/static/uploads/{{photo.url}}" alt="{{photo.url}}">
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}