{% extends "main.html" %}
{% block content %}
<main role="main" class="row">
	<div class="col-md-3 bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
            	<li class="nav-item">
            		<img src="{{logged_user.picture}}" width="" alt="Profile picture" class="img-thumbnail">
            		<div class="nav-link">
						<h5>{{ logged_user.name }} <small><a href="/profile/update"> Edit</a></small></h5>
						<small>{{logged_user.email}}</small>
						<p>{{logged_user.dob}}</p>
					</div>
            	</li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Friends</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            	{% for friend in friendList %}
				<li class="nav-item m-0"><a class="nav-link" href="/profile/{{friend.id}}">{{ friend.name }}</a></li>
				{% endfor %}
            </ul>

          </div>
    </div>

    <div class="col-md-5 middle-part">
    	<a href="/create/event" class="btn btn-primary">Add Birthday</a>
    	<div class="row birthday_card ">
    		{% for bday in birthdays %}
    		<div class="col-12 p-0 m-1 bbash-card">
    			<div class="top p-1">
    				<div class="title"> <a href="">Birthday {{bday.year}}</a><a class="btn btn-outline-secondary btn-sm px-2 py-0" href="/birthday/{{logged_user.id}}/{{bday.id}}" style="float: right">Edit</a> </div>
    			</div>
    			<div class="body px-2">
    				<div class="row">
    					<div class="col-12">
    						<p>{{bday.description}}</p>
    					</div>
    				</div>
    				<div class="row">
    					{% for photo in bday.photos %}
    					<div class="col-3">
    						<img class="img-thumbnail m-0 p-0" src="/static/uploads/{{photo.url}}" alt="{{photo.url}}">
    					</div>
    					{% endfor %}
    				</div>
    			</div>

    		</div>
    		{% endfor %}
    	</div>
	</div>

</main>

{% endblock %}
